.vc-col-1,
.vc-col-2,
.vc-col-3,
.vc-col-4,
.vc-col-5,
.vc-col-6 {
	position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.vc-col-1 {
	-ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.vc-col-2 {
	-ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.vc-col-3 {
	-ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.vc-col-4 {
	-ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.vc-col-5 {
	-ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}
.vc-col-6 {
	-ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
	